extends layout
append head
  link(rel="stylesheet" href="/stylesheets/collections.css")
  script(async defer src="/javascripts/collections.js" type="module")

block content
    .navbarContainer
      +navbar
    .fullPageGrid
        .grid
            .grid__section-list
                h2.collection__list-title My Collections
                .collection__list-allnames
                    each collectionName in collectionNames 
                        p.collection__list-name(id=`list-${collectionName}`)= collectionName
            .grid__section-form
                form.custom-collection(action="/collections" method="POST")
                      label(for="custom") Create your custom comic collection
                      input(type="text" name="custom" maxlength="25" required)
                      button(type="submit" value="Submit") Create
            .grid__section-collections
                each collectionName in collectionNames
                    .collection__section(id=`scroll-${collectionName}`)
                      div.collection__item
                        .collection__item__header
                          h1.collection__title= collectionName
                          if collectionName !== "Want to Read" && collectionName !== "Currently Reading" && collectionName !== "Read"
                            .collection__tools
                              button.collectionTool.collection--delete(id=`${collectionName}`)
                                i(class="fa fa-trash-o" id=`${collectionName}` style="font-size:28px;color:red;display:flex;justify-content:center;align-items:center")
                              button.collectionTool.collection--edit(id=`${collectionName}`) edit
                        .collection__images
                            each collection in collections
                                if collection.name === collectionName && collection.Comic
                                    div.grid__image-container
                                        a(href=`/comics/${collection.Comic.id}`): img(src=collection.Comic.imageUrl class="grid__image grid__image--active")
                                        a(class="grid__image-title" href=`/comics/${collection.Comic.id}`)= collection.Comic.title
                                        p.grid__image-publisher= collection.Comic.publisher
