extends layout
append head
  link(rel="stylesheet" href="/stylesheets/comic.css")
  script(src="/javascripts/collections.js" type="module" defer)
  script(src="/javascripts/comics.js" type="module" defer)
  script(async defer src="/javascripts/reviews.js")
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


block content
    +navbar
    .backgroundImage
      img(src=comic.backgroundImageUrl)
    .fullPageGrid
        .grid
          .grid__section.section__image
                img.image__actual(src=comic.imageUrl)
          .grid__section.section__readStatus
              div.shelfButton
                .shelfButton__text Add To Collection
                div.shelf-content
                    p Read Status
                    button.collectionButton.readStatus__wantToRead.defaultCollection(type="button" id=comic.id value="Want to Read" name=userId) Want to Read
                    button.collectionButton.readStatus__currentlyReading.defaultCollection(type="button" id=comic.id value="Currently Reading") Currently Reading
                    button.collectionButton.readStatus__read.defaultCollection(type="button" id=comic.id value="Read") Read
                    p Collections
                    each customCollection in customCollections
                      button.collectionButton(type="button" id=comic.id value=customCollection.name)= customCollection.name
              .addButton
                .addButton__text New Collection
                p.response
                form.customForm.customForm--hidden
                    label(for="custom") Create your custom comic collection
                    input(type="text" name="custom" id="collectionName" maxlength="25" required)
                    button(type="submit" value="Submit" class="custom-submit") Create    


          .grid__section.section__details
              h1.details__element.details__title= comic.title
              h2.details__element.details__author Author: #{comic.author}
              p.details__element.details__description= comic.description
              .details__infoRow
                  .infoElement
                      p.label Publisher:
                      p.info=comic.publisher
                  .infoElement
                      p.label Published:
                      p.info=comic.publishDate
                  .infoElement
                      p.label Cover Price:
                      p.info=comic.price
                  .infoElement
                      p.label Page Count:
                      p.info=comic.pages


          .grid__section.section__reviews
            .reviews__title
              h1.reviews__title__element Reviews
            .reviews__add.reviewTool__text
                form(class="review-form")
                    label(for="description") What did you think? 
                    textarea(type="text" name="description" id="user-review" class="user-review text__input" placeholder="Your thoughts here...")
                    button(type="submit" value="Submit" class="review-submit" id=comic.id) Submit your Review!
            .reviews__container
              each review in reviews
                .review
                  .review__tools
                    if userId === review.userId
                      button.reviewTool.review--delete(id=`rd${review.id}`) 
                        i(class="fa fa-trash-o" style="font-size:28px;color:red")
                      button.reviewTool.review--edit(id=`re${review.id}`) edit
                  .review__info
                    h2.review__info__name  #{review.User.firstName} #{review.User.lastName}
                  .review__description
                    p.description__text= review.description
        .sidebar
          +sidebar
        




