extends layout
append head
  link(rel="stylesheet" href="/stylesheets/comic.css")
  script(async defer src="../public/javascript/reviews.js")

block content
    +navbar
    .fullPageGrid
        .grid
            .grid__section.section__image
                  img.image__actual(src=comic.imageUrl)
            .grid__section.section__readStatus
                button.shelfButton Add To Collection
                    div.shelf-content
                        p Read Status
                        a(href="") Want To Read
                        a(href="") Read
                        a(href="") Will Read
                        p Collections
                        //-     each collection in collections
                        //-         a(href="collections/#{collection.id}")= collection.name
                        a(href="") my favorites


            .grid__section.section__details
                h1.details__element.details__title= comic.title
                h2.details__element.details__author Author: #{comic.author}
                p.details__element.details__description= comic.description
                .details__infoRow
                    .infoElement
                        p.label Publisher: 
                        p.info=comic.publisher
                    .infoElement
                        p.label Published: 
                        p.info=comic.publishDate
                    .infoElement
                        p.label Cover Price:
                        p.info=comic.price
                    .infoElement
                        p.label Page Count: 
                        p.info=comic.pages


            .grid__section.section__reviews
              .reviews__title
                h1.reviews__title__element Reviews
                button.reviews__title__element.reviewTool.review--add +
              .reviews__container
                each review in reviews
                  .review
                    .review__tools
                    if userId === review.userId
                        button.reviewTool.review--delete delete review
                        button.reviewTool.review--edit edit review
                    .review__info
                      h2.review__info__name  #{review.User.firstName} #{review.User.lastName}
                  .review__description
                    p= review.description
        .sidebar





    //- h1= comic.description
    //- img(src=comic.imageUrl)
