extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.navbar
    a(href="/") Comic-Collection
    div.site-nav
      a(href="/") Home
      a(href="") My Comics
      div.dropdown
        button.dropbtn Browse
        i(class="fa fa-caret-down")
        div.dropdown-content
          p FAVORITE GENRES
          a(href="") Fantasy
          a(href="") Fiction
          a(href="") Superhero
      div.dropdown
        button.dropbtn Community
        i(class="fa fa-caret-down")
        div.dropdown-content
          a(href="") Discussions
          a(href="") People
          a(href="") Ask the Author
    div.search-bar
        form(action="/search" method="GET")
          input(type="text" placeholder="search comics" name="searchString")
          //- button(type="submit" class="search-btn")
    if locals.authenticated
      div.personal-nav
        div.dropdown
          button.dropbtn 🔔 Notifications
          i(class="fa fa-caret-down")
          div.dropdown-content
            a(href="") No notifications
        a(href="") 💬 Chat
        a(href="") Messages
        a(href="") Friends
        div.dropdown
            img(src="https://s.gr-assets.com/assets/nophoto/user/u_60x60-267f0ca0ea48fd3acfd44b95afa64f01.png")
            form(action="users/logout" method="POST")
              div.dropdown-content
                button(class="sign-out-btn" type="submit") Sign out
    else
      a(href="/signup") Sign Up
      a(href="/login") Log In
  main
    div.grid-title Newly Released Comics
    div.grid
        div.grid__section.sidebar

        div.grid__section.content
            each comic in comics
                div.grid__image-container
                    img(src=comic.imageUrl class="grid__image")
                    a(class="grid__image-title" href="/login")= comic.title
                    p.grid__image-publisher= comic.publisher

            //- div.grid__section.img
            //- img(src=comics[0].imageUrl)
            //- a(href="/login" class="comics-title") By #{comics[0].title}
            //- div.grid__section.img
            //- img(src=comics[1].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[2].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[0].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[1].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[2].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[0].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[1].imageUrl)
