extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  +navbar
  main
    div.grid-title Browse for comics you want to read!
    div.grid
        div.grid__section.sidebar
        div.grid__section.content
            each comic in comics
                div.grid__image-container
                    a(href=`/comics/${comic.id}`): img(src=comic.imageUrl class="grid__image grid__image--active")
                    a(class="grid__image-title" href=`/comics/${comic.id}`)= comic.title
                    p.grid__image-publisher= comic.publisher

            //- div.grid__section.img
            //- img(src=comics[0].imageUrl)
            //- a(href="/login" class="comics-title") By #{comics[0].title}
            //- div.grid__section.img
            //- img(src=comics[1].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[2].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[0].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[1].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[2].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[0].imageUrl)
            //- div.grid__section.img
            //- img(src=comics[1].imageUrl)
